pandas
matplotlib
seaborn
nltk
scikit-learn
xgboost
wordcloud
joblib
Flask
gunicorn
imbalanced-learn
xgboost
wordcloud
certifi
charset-normalizer
click
docopt
greenlet
gunicorn
idna
importlib-metadata
itsdangerous
jedi
Jinja2
MarkupSafe
msgpack
parso
pipreqs
pynvim
python-dateutil
pytz
requests
scipy
six
threadpoolctl
urllib3
Werkzeug
yarg
zipp
pickle
